body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0056b3;
}

h1 {
  color: #333;
  text-align: center;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider {
  max-width: 100%;
  height: auto;
  display: none;
}

.slider.active {
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

#prev {
  left: 0;
}

#next {
  right: 0;
}
/*
@media screen and (max-width: 600px) {
  #prev,
  #next {
    font-size: 18px;
    padding: 12px;
  }
}
